.primary-nav {
    padding : 10px 0;
@mixim atMedium{
    padding : 0;
}

&--link-highlight{
    color: $mainOrange !important;
}

    &--pull-right{


    @mixin atMedium{
         float : right;
    }

     }

    ul{
        margin : 0;
        padding : 0;
        @mixin clearFix;
     }

     li {
         list-style: none;
         display : inline-block;
         padding-right : 7px;
         @mixin atMedium {
             float : left;
             display : block;
             padding-right: 20px;
         }
     }

li:last-child {
    padding-right : 0;
    @mixin atMedium {
        padding-right : 20px;
    }
}

     a {
         padding: 5px 8px;
         color : #fff;
         text-decoration: none;
         font-weight: 300;
         display: block;
     font-size : .8rem;
     background-color : rgba($mainBlue, 0.5);

         @mixin atMedium{
             font-size : 1rem;
             padding: 12px 0;
             background-color : transparent;
         }

@mixin atLarge{

}
     }
}