.row {

   /* background-color: yellow; /* test color for edges */
/* clear the float behaviour at the end of the row classed element */
@mixin clearFix;

@mixin atMedium {
&--medium-column1to4 {
    float: left;
    width: 33.33%
}

&--medium-column1to4-larger {
     width: 37%;
 }

&--medium-column8to12 {
     float: left;
     width: 66.67%;
 }

&--medium-column8to12-smaller {
     width: 63%;
 }
}
 &--gutters {
    margin-right: -65px
  }

 &--gutters > div {

    padding-right : 65px;
    box-sizing : border-box; /* force padding not to impact total width values */

  }
&--b-margin-until-medium{
    margin-bottom : 1rem;
}

@mixin atMedium {
&--b-margin-until-medium{
    margin-bottom : 0;
}
}

}